ul{
    width: 100%;
    float: left;
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
}
li{
    float: left;
    cursor: pointer;
    width: 7em;
    text-align: center;
}
li a{
    display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}
li:hover{
    background-color: white;
}
.active {
    background-color: #006699;
    color: white;
}

@media only screen and (max-width: 720px) {
    ul{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
    }
    li{
        width: auto;
    }
    
}